<div class="container mt-5">
  <div class="row">
    <div class="col text-center mb-5">
      <h1 class="display-4">Hakkımda</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Personal Information</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Ad:</strong> Salih Eliaçık</li>
        <li class="list-group-item">
          <strong>Email:</strong> saliheliack&#64;gmail.com
        </li>
        <li class="list-group-item">
          <strong>Telefon:</strong> +90 536 890 7604
        </li>
        <li class="list-group-item">
          <strong>Okul:</strong> Konya Teknik Universitesi Bilgisayar
          Mühendisliği 4.Sınıf
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <p>
        Konya Teknik Universitesi Bilgisayar Mühendisliği 4.Sınıf öğrencisiyim.
        Daha önce bilişim vadisinde bir şirkette Junior developer olarak
        çalıştım. Şu anda ise kendim üstinde çalıştığım bir proje
        geliştirmekteyim. Proje ile ilgili gerekli bilgiler ve projenin sitesi
        aşağıda bulunmakta. Angular daha önce çalıştığım şirkette kullandım  ve aynı zamanda
       projemde de kullanıyorum. Ayrıca photoshop ve illustrator gibi
        araçlar da daha önce kullandım. Çalıştığım ortama hızlı uyum
        sağlayabilir ve yeni teknolojilere hızlı bir şekilde adapte olabilirim.
        Çalıştığım kuruma değer katabileceğime inanıyorum.Teşekkürler.
      </p>
      <h3>Experience</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Solution Factory:</strong> Junior Developer(10/2023 - 03/2024)
        </li>
      
      </ul>
      <h3>Skills</h3>
      <ul class="list-group">
        <li class="list-group-item">Spring Framework</li>
        <li class="list-group-item">Angular</li>
        <li class="list-group-item">Docker</li>
        <li class="list-group-item">PostgreSql</li>
        <li class="list-group-item">C</li>
        <li class="list-group-item">Java</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Git</li>
        <li class="list-group-item">Server Management</li>
      </ul>
      <h3>Peojelerim</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Ai Model Yarıştıma Sitesi:  </strong> <a href="https://github.com/Salih52/ai-model-race-springboot-angular-flask-project">https://github.com/Salih52/ai-model-race-springboot-angular-flask-project</a>
          <p></p>
          <strong>Projenin Sitesi:</strong> <a href="https://ailabrace.online/mainPage">https://ailabrace.online/mainPage</a>
      </ul>
      <h3>Languages</h3>
      <ul class="list-group">
        <li class="list-group-item">English-C1</li>
      </ul>
    </div>
  </div>
</div>
